@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos A Animal Paws</h1>
    <p><a href="https://github.com/Ex1Kx/AnimalPaws">Repositorio Utilizado</a>.</p>
</div>
